<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EM TIPSET 2016</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/grayscale.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/grayscale.js"></script>
    <script src="~/js/grayscale.js"></script>
    <script>
        $(document).ready(function () {

            CalcAdv();
        });

        function CalcAdv() {

            var spreadsheetID = "1_KenGzfr6IpEmh78JExLSTVjOBOSHkWOViPr3GmJYhk"
            var url = "https://spreadsheets.google.com/feeds/list/" + spreadsheetID + "/od6/public/values?alt=json";
            var myData = [];

            $.getJSON(url, function (data) {
                var entry = data.feed.entry;

                $(entry).each(function () {

                    myData.push({
                        name: this.gsx$lag.$t,
                        adv: this.gsx$avancemang.$t
                    })

                });



                $.ajax({
                    type: 'POST',
                    url: '../home/CalcAdv',
                    data: { items: myData },
                    dataType: 'json',
                    error: function (err) {
                        //alert(err);
                    }
                });
            });

        };
    </script>
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Start</span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/rules">Regler</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/leaderboard">Topplista</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/results">Spelschema & Resultat</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->
    <header class="intro" style="background-image: url('../img/zlatan.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">EM tipset 2016</h1>
                        <p class="intro-text">Hej och välkommen till EM tipset <br>skapat av Joachim Good</p>
                        <a href="#about" class="btn btn-circle page-scroll" style="color:#003399"> @*#1d9b6c*@ 
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Om EM tipset</h2>
                <p>Tack för att du va med och spelade! Johan Hellström tog hem tipset och vann därmed 1350kr. Jag har inaktiverat topplistan då det kostade pengar att ha igång databasen där all statistik lagrades. </p>
                <p>Vi ses till VM 2018!</p>

                 <p style="display:inline">Har du fått ditt användarnamn inlagt?</p><br /><a href="~/home/placebets" type="button" class="btn btn-default">Klicka här för att börja tippa</a>
                <br />
                <br />
                <p>Må bäste fotbollsfantast vinna!</p>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kontakt</h2>
                <p>Har du funderingar eller krånglar sidan vänligen skicka ett mejl till</p>
                
                       <p><a href="mailto:joachim.good@hotmail.com">joachim.good@hotmail.com</a></p>
                <ul class="list-inline banner-social-buttons">
                   
                   
                    <li>
                        <a href="https://se.linkedin.com/in/joachim-good-74465489" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i></a>
                    </li>

                    @*<li>
                        <a href="https://www.facebook.com/wazzzzaaaa" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i></a>
                    </li>*@
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p style="color: #1d9b6c">”Det Carew gör med en fotboll gör jag med en apelsin” - Zlatan</p>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="~/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/js/jquery.easing.min.js"></script>
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="~/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/js/grayscale.js"></script>
</body>
</html>
