@{
    Layout = "~/Views/Shared/_Layout";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Regler</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/grayscale.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/grayscale.js"></script>
</head>
<style>
    p {
        display: inline;
    }
</style>
<body>
    <div class="container" style="margin: 70px 0">
       <p style="color: #1d9b6c">Poängen delas ut enligt följande:<p><br />
        
        <P>10p för rätt tippat resultat.</p><br />
        <p>5p för rätt tippat tecken (1 x 2).</p><br />
        <p>2p för rätt antal mål för ena laget (dessa delas ej ut om du fått 10p).</p><br />        
        <p>Har du gissat rätt tecken och fått in rätt antal mål för ena laget får du 5 + 2p.</p><br />
        <p>T.ex. Har du tippat att Sverige slår Italien med 5 - 0 och resultatet blir detsamma får du 10p</p><br />
        <p>Blir resultatet 2-0 får du 5p för rätt tecken samt 2p för rätt antal mål för Italien</p><br />
        <br /><br />
        <p style="color: #1d9b6c">I slutspelet får du olika poäng beroende på hur långt ett lag har gått och vad du tippat.</p><br />
        <p style="color: #1d9b6c">Poängen i detta moment delas ut enligt följande:</p><br />
        <p>13p för rätt mästare</p><br />
        <p>8p för rätt lag i final</p><br />
        <p>6p per rätt lag i semifinal</p><br />
        <p>4p per rätt lag i kvartsfinal</p><br />
        <p>2p per rätt lag i åttondelsfinal</p><br />         
        <p>Går ditt tippade lag exakt lika långt som du tippat får du även 2 extra poäng.</p><br /><br />
        <p style="color: #1d9b6c">Scenario 1: Du tippar Sverige till mästare</p><br />
        <p>Om Sverige vinner EM får du 15p</p><br />
        <p>Om Sverige inte blir mästare får du poäng för hur lång de gått, 8p för final, 6p för semifinal osv.</p><br />
        <p style="color: #1d9b6c">Scenario 2: Du tippar Sverige till kvartsfinal</p><br />
        <p>Du får nu 4p + 2p om Sverige åker ur i kvartsfinal.</p><br />
        <p>Går Sverige längre än så får du endast 4p. Åker Sverige ur i åttondelen får du 2p resp. 0p för gruppspel</p><br /><br />

        <p>Slutligen får du 1p om du gissat att ett lag åker ur i gruppspelet och det laget gör det.</p><br /><br />


        <p style="color: #1d9b6c">OBS! Poängen delas tilldelas när ett lag åker ur och inte efter hand.</p><br />

               
    </div>

</body>
</html>